@keyframes rakka {
    0% {
        top: 40px;
    }

    80% {
        top: 700px;
    }

    100% {
        top: 700px;
    }
}

@keyframes up {
    0% {
        top: 700px;
    }

    80% {
        top: 40px;
    }

    100% {
        top: 40px;
    }
}

@keyframes smash {
    0% {
        transform: scale(1.0);
        top: 700px;
    }

    50% {
        transform: scale(2.0);
        top: 350px;
    }

    80% {
        transform: scale(1.5);
        top: 40px;
    }

    100% {
        transform: scale(1.0);
        top: 40px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 必殺技ゲージのコンテナ */
.gauge-container {
    width: 400px;
    height: 20px;
    background: var(--gauge-bg);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 2px solid black;
}

/* ゲージの中身 */
.gauge-fill {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #00f2fe 0%, #4facfe 100%);
    border-radius: 8px;
    transition: width 0.3s;
}

/* 満タン時のアニメーション */
.full-gauge {
    animation: pulse 0.5s infinite alternate;
    box-shadow: 0 0 15px #4facfe;
}

.fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.rakka {
    position: absolute;
    animation-name: rakka;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.smash {
    position: absolute;
    animation-name: smash;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.up {
    position: absolute;
    animation-name: up;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.d-none {
    display: none;
}

.result {
    font-size: 20px;
    color: red;
}

.back-img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1000px;
    height: 700px;
    z-index: -1;
    pointer-events: none;
}

.cara {
    width: 50px;
    height: 50px;
    position: absolute;
}

.kuma {
    z-index: 10;
    width: 100px;
    height: 100px;
}

.move-btns {
    display: flex;
}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 525px;
    margin-left: 25px;
}

.ene {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    z-index: 10;
    left: 400px;
}

.ene-point {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 900px;
    z-index: 10;
}

.start-btn {
    margin-left: 25px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    position: absolute;
    top: 600px;
    left: 440px;
    z-index: 20;
}

.hissatu-movie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
}

.fire-kuma {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 15;
}

.ene-fire {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 500px;
    z-index: 15;
}

.fire-right {
    position: absolute;
    left: 805px;
    top: 300px;
    width: 200px;
    height: 200px;
}

.fire-left {
    position: absolute;
    left: 25px;
    top: 300px;
    width: 200px;
    height: 200px;
}

.gauge-container {
    position: absolute;
    top: 700px;
    left: 300px;
}

.message {
    position: absolute;
    top: 450px;
    left: 280px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    background: white;
    text-align: center;
}

.winloose {
    position: absolute;
    top: 20px;
    left: 250px;
    width: 500px;
    height: 300px;
    background: white;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    z-index: 200;
}
.winloose-img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.ene-gauge-container {
    top: 0px;
    left: 300px;
}

.god-back {
    background: yellow;
    opacity: 0.25;
    position: absolute;
    width: 600px;
    height: 700px;
    top: 0;
    left: 200px;
}

.big-ball {
    width: 300px !important;
    height: 330px !important;
}

.god-kuma {
    width:300px;
    height: 150px;
}
